
.projects {
    padding: 0 5%;
    margin-bottom: 30px;
}
.projects_title h1 {
    color: rgb(4, 182, 78);
}
.projects_title_dark_mode h1 {
    color: red;
}
.project_list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.project_item {
    background: #eee;
    padding: 20px;
    text-align: center;
}
.project_item_image img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}
.project_item_action {
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn_demo {
    text-decoration: none;
}
.btn_demo button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(4, 182, 78);
    display: grid;
    place-items: center;
    cursor: pointer;
    margin: 0px 10px;
}
.btn_code {
    text-decoration: none;
}
.btn_code button {
    width: 150px;
    height: 40px;
    border-radius: 10px;
    border: solid 1px rgb(4, 182, 78);
    display: grid;
    place-items: center;
    cursor: pointer;
    margin: 0px 10px;
}
@media (max-width: 768px) {
    .project_list {
     grid-template-columns: 1fr;
    }
    .project_item_action {
    flex-direction: column;   
    gap: 10px;   
    width: 100%;    
    align-items: stretch;     
  }
  .btn_demo button,
  .btn_code button {
    width: 100%;   
    margin: 0px;          
  }
}