* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home_wrapper {
  display: grid;
  place-items: center;
}
.main {
  width: 40%;
  margin: 0px 20px;
}

.blog {
  margin-left: 20px;
}
.blog_title {
  margin-top: 100px;
  margin-bottom: 30px;
}

.blog_item {
  height: 60px;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover {
    border-bottom: solid 1px #ccc;
  }
}

.blog_item_wrap p {
  color:  #707375;
}