.home_wrapper {
    background: "";
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}
.avatar {
    width: 40%;
    display: grid;
    place-items: center;
}
.avatar img{
    width: 560px;
    height: 710px;
    border-radius: 20px;
}
.about {
    width: 50%;
    margin-right: 20px;
}
.about_mobile {
    padding: 0px 20px;
}
.about_btn {
    margin-top: 40px;
    display: flex;
    align-items: center;
}
.about_btn_mobile {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.about_name {
    font-size: 51px;
    color: #42b883;
}
.about_content span{
    font-size: 20px;
    color: white;
}
.about_content_mobile span {
    font-size: 20px;
    color: white;
}
.btn_portfolio {
    width: 120px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
    border: solid 1px #42b883;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 999;
    position: relative;
    &:hover {
        background: #42b883;
    }
}
.btn_portfolio_mobile {
    width: 120px;
    height: 50px;
    background: transparent;
    border-radius: 10px;
    border: solid 1px #42b883;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 999;
    position: relative;
    &:hover {
        background: #42b883;
    }
}
.btn_link {
    text-decoration: none;
    color: white;
}
.btn_about {
    width: 120px;
    height: 50px;
    margin-left: 30px;
    background: transparent;
    border-radius: 10px;
    border: solid 1px #42b883;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 999;
    position: relative;
     &:hover {
        background: #42b883;
    }
}
.btn_about_mobile {
    width: 120px;
    height: 50px;
    margin-left: 30px;
    background: transparent;
    border-radius: 10px;
    border: solid 1px #42b883;
    display: grid;
    place-items: center;
    cursor: pointer;
    z-index: 999;
    position: relative;
     &:hover {
        background: #42b883;
    }
}
.home_wrapper_mobile {
    text-align: center;
}
.avatar_mobile {
    margin-top: 60px;
}
.avatar_mobile img{
    width: 280px;
    height: 280px;
    border-radius: 50%;
}
.about_title_mobile h1{
    font-size: 26px;
    color: #42b883;
}

@media (max-width: 768px) {
    .home_wrapper {
        flex-direction: column;
        align-items: center;
        justify-content: flex-start; /* Không ép giữa dọc, để scroll */
    }
}
