.contect {
  margin-left: 20px;
  margin-bottom: 20px;
}
.contect_title {
  margin-top: 100px;
  margin-bottom: 30px;
}
.social {
  margin-top: 20px;
}
.social_btn {
  width: 100px;
  height: 30px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}
.btn_link {
  margin-right: 15px;
}
@media (max-width: 576px) {
  .social {
    margin-top: 10px;
  }
  .social_btn {
    margin-top: 10px;
  }
}