.layout {
  // background: black;
}

.content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
@media (max-width: 768px) {
.layout {
    overflow-y: auto; 
    height: auto;     
    min-height: 100vh;
    flex-direction: column; 
    // background-attachment: scroll;
  }
}