* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Dancing Script', 'Playwrite CO Guides', 'Playwrite HR Lijeva Guides', cursive;
}


.content {
  flex: 1;
  min-height: 0;
  overflow-y: auto;
}
@media (max-width: 768px) {
.layout {
    overflow-y: auto; 
    height: auto;     
    min-height: 100vh;
    flex-direction: column; 
    // background-attachment: scroll;
  }
}