.blog {
  margin-left: 20px;
}
.blog_title {
  margin-top: 100px;
  margin-bottom: 30px;
}

.blog_item {
  height: auto;
  margin-bottom: 30px;
  cursor: pointer;
  &:hover {
    border-bottom: solid 1px #ccc;
  }
}

.blog_item_wrap p {
  color:  #707375;
}

/* Modal style */
.modal_overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  padding: 20px;
}

.modal_content {
  background: #fff;
  padding: 20px;
  width: 800px;
  max-width: 90%;
  max-height: 80vh; 
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;

  display: flex;         
  flex-direction: column; 
  overflow: hidden;     
  
  h2 {
    margin: 0 0 10px;
  }

  .modal_body {
    margin-top: 10px;
    line-height: 1.6;
    overflow-y: auto;  
    flex: 1;           
    padding-right: 6px; 
  }
}

.modal_content_dark {
  background: black;
  padding: 20px;
  width: 800px;
  max-width: 90%;
  max-height: 80vh; 
  border-radius: 10px;
  position: relative;
  animation: fadeIn 0.3s ease-in-out;
  display: flex;         
  flex-direction: column; 
  overflow: hidden;     
  color: white;
  h2 {
    margin: 0 0 10px;
  }

  .modal_body {
    margin-top: 10px;
    line-height: 1.6;
    overflow-y: auto;  
    flex: 1;           
    padding-right: 6px; 
  }
}
.close_btn {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
}
.close_btn_dark {
  position: absolute;
  right: 10px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  cursor: pointer;
  color: white;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.9);}
  to { opacity: 1; transform: scale(1);}
}


